.header {
	text-align: center;
}
.nav {
	background-color: #333;
	overflow: hidden;
	width: 95%;
	margin: auto;
}
.navbar-brand a{
    font-size: 80px;
}
.nav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
}
.nav a:hover {
	background-color: #fff;
	color: #000;
}
.nav a.active {
	background-color: deepskyblue;
	color: #fff;
}
.nav .icon {
	display: none;
}
@media screen and (max-width: 600px) {
	.nav a:not(:first-child) {
		display: none;
	}
	.nav a.icon {
		float: right;
		display: block;
	}
}
@media screen and (max-width: 600px) {
	.nav.responsive {
		position: relative;
	}
	.nav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.nav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
